<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href=" {{ url_for ('static', filename = 'styles/login.css')    }}"
</head>

<body class="dark-theme">
    <div class="login-container">
        <h1>Login</h1>

        <!-- Exibe a mensagem de erro, se existir -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="error-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form id="loginForm" method="POST">
            <div class="input-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>

</html>